.botao{

    background-color: rgb(255, 144, 196);
    padding-bottom: 20px;
    padding: 20px;
    font-size:x-large;
    font-weight: 800;
    border-radius: 30px;
    text-decoration: none;
    color: aliceblue;
    }


    .cabecalho{
    color: rgb(255, 255, 255);
    background-color: rgb(168, 216, 200);
    }
    